{% extends '@App/app.html.twig' %}

{% block content %}
    {{ parent() }}

    <div class="container mt">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Hotels</div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        <div>
                            {{ form_label(form.name) }}
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                        </div>


                        <div>
                            {{ form_label(form.category) }}
                            {{ form_errors(form.category) }}
                            {{ form_widget(form.category) }}
                        </div>

                        <div>
                            {{ form_label(form.address, 'Address Hotel:  ') }}
                            {{ form_errors(form.address) }}
                            {{ form_widget(form.address) }}
                        </div>

                        {{ form_rest(form) }}

                        <input type="submit" />
                        {{ form_end(form) }}


                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Address</th>
                                    <th width="100px">&nbsp;</th>
                                </tr>
                                </thead>
                                    {% for Hotel in hotels %}
                                        {% include '@App/config/hotel_row.html.twig' %}
                                    {% endfor %}
                                <tfoot>
                                <tr>
                                    <td>
                                        <input type="text" v-model="new_hotel.name" class="form-control">
                                        <ul v-if="errors && errors.length">
                                            <li v-for="error in errors" class="text-danger">{{ error }}</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <input type="text" v-model="new_hotel.category" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" v-model="new_hotel.address" class="form-control">
                                    </td>
                                    <td>
                                        <a href="#" @click.prevent="createHotel()">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}